body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;;
  font-weight: 400, 700;
  text-align: center;
  padding: 0;

}
h3 {
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.card {
  width: 25%;
  margin: 5rem auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.container {
  padding: 2px 16px
  
}

.image {
  padding: 1rem 1rem;
  position: relative;
}

.code-img {
  width: 100%;
  position: relative;
  border-radius: 10px;
}
